<div class="row">
    <div id="col-md-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Categories
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" data-ng-repeat="item in items" data-ng-click="changeItem(item)">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{item}}</a></li>
            </ul>
        </div>
    </div>
    <div id="col-md-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Location List
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" data-ng-repeat="item in items" data-ng-click="changeItem(item)">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{item}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
	<legend>Location - Status</legend>
    <!--<div data-ng-repeat="item in items" data-ng-click="changeItem(item)">`
        <img src="images/ItemIcon.png">
    <div>{{item.name}}</div>-->
	<section id="map">
      <div ui-map="myMap" ui-options="mapOptions" olx-map="" class="map-canvas" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"></div>
    </section>
    <br>
    <legend></legend>
</div>